<div *ngIf="isLoading" class="spinner-overlay">
  <div class="spinner">
    <i class="fa fa-spinner fa-spin"></i>
  </div>
</div>
<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <li>Leader [US : huydev, MK : admin]</li>
              <li>Employee [US : tamlike, MK : admin]</li>
              <h3 class="login-heading mb-4">Login</h3>

              <!-- Register Form -->
              <form (ngSubmit)="loginUser()">
                <div class="form-floating mb-3">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    placeholder="Username"
                    [(ngModel)]="username"
                    name="username"
                  />
                </div>
                <div class="form-floating mb-3">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Password"
                    [(ngModel)]="password"
                    name="password"
                  />
                </div>

                <div class="d-grid">
                  <button
                    class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
                    type="submit"
                  >
                    Login
                  </button>
                  <div class="text-center">
                    <a class="small" href="/register"
                      >Chưa Có Tài Khoản , Đăng Ký ?</a
                    >
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
