<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
>
  <div class="sidebar-sticky pt-3" *ngIf="level === 'leader'">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/">
          <span data-feather="home"></span>
          Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/project">
          <span data-feather="shopping-cart"></span>
          Project
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/task"> Task </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users"> Users </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/areas"> Areas </a>
      </li>
    </ul>
  </div>

  <div class="sidebar-sticky pt-3" *ngIf="level === 'employee'">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/task"> Task </a>
      </li>
    </ul>
  </div>
</nav>
